*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
app/libs/*.aar
app/src/main/jniLibs/
app/src/main/assets/geoip.dat
app/src/main/assets/geosite.dat
hev-socks5-tunnel/
*.keystore
*.jks
*.pfx
